.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Login/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}

.section {
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 12px 0px;
  border-bottom: 2px solid white;
  font-family: "Righteous", cursive;
}

.head {
  font-size: 3em;
}

.moreinfo > p {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 100 !important;
}

.moreinfo {
  width: 75%;
}

/* Media Query */

@media screen and (max-width: 450px) {
  .head {
    font-size: 2em;
  }
  .moreinfo > p {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px) {
  .about {
    height: 100vh;
  }
}
