.profile {
  color: white;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.section1 {
  width: 30%;
  padding: 23px;
}

.pic {
  display: flex;
  flex-direction: column;
}

.pp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pp > img {
  width: 150px;
  border-radius: 50%;
}

.mediaLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mediaLink {
  width: 18vw;
  background-color: dodgerblue;
  padding: 5px;
  border: none;
  border-radius: 90px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 7px 0px;
}

.logout {
  background-color: red;
}

.edit {
  cursor: pointer;
  margin-right: 3px;
}

.btn {
  background-color: teal;
  border-radius: 90px;
  padding: 5px;
  color: white;
  width: 12vw;
  margin: 23px 0px;
  align-self: center;
  display: none;
}

.section2 {
  width: 70%;
  padding: 13px;
}

.section2 > .heading {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.profileInfo {
  display: flex;
  flex-wrap: wrap;
}

.profileInfo > .box {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 18px;
  margin: 12px 0px;
  gap: 10px;
}

.box > input {
  color: white;
  padding: 6px;
  width: 25vw;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid teal;
}

.box > input:focus {
  outline: none;
}
.underline {
  border-bottom: 2px solid white;
}

.textarea {
  background-color: transparent;
  padding: 5px;
  width: 100%;
  height: 20vh;
  color: white;
  border: none;
  border-bottom: 1px solid teal;
}

/* Media Query */

@media screen and (max-width: 1035px) {
  .mediaLink {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .profileInfo {
    display: flex;
  }
  .box > input {
    width: 75%;
  }
}

@media screen and (max-width: 870px) {
  .mediaLink {
    /* width: 25vw; */
    font-size: 0.65em;
  }
}
@media screen and (max-width: 660px) {
  .mediaLink {
    width: 25vw;
    font-size: 0.53em;
  }
  .profileInfo {
    display: block;
  }
  .box > input {
    width: 60vw;
  }
}
@media screen and (max-width: 570px) {
  .profile {
    display: block;
  }
  .section1,
  .section2 {
    width: 100%;
  }
  .mediaLink {
    width: 25vw;
    font-size: 0.47em;
  }
  .pp > img {
    width: 100%;
  }
  .pp > p {
    font-size: 1em;
  }
  .underline {
    font-size: 0.8em;
  }

  .mediaLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .section2 {
    font-size: 0.8em;
  }
  input,
  .box {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .pp > .edit {
    font-size: 0.6em;
  }

  .label {
    width: 70vw;
  }
  .pp > p {
    font-size: 0.75em;
  }
}
