.required {
  padding: 34px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.required > .heading {
  width: 45%;
  font-family: "Josefin Sans", sans-serif;
}

.req-section {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.req-box {
  display: flex;
  flex-direction: column;
}

.req-block {
  display: flex;
  align-items: center;
  gap: 50px;
}

.req-block > input {
  width: 20%;
}

.reqLabel {
  font-size: 23px;
  margin-bottom: 23px;
}
