.home {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHByb2dyYW1tZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(12px);
}

.title {
  margin: 35px;
  font-size: 39px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
}
.title > img {
  width: 45px;
  margin-bottom: 22px;
  margin-right: 5px;
}

.more-info {
  color: white;
  font-size: 45px;
  margin: 60px;
  font-family: "Cormorant Garamond", serif;
  margin-top: 80px;
}

.more-info > p {
  margin-bottom: 0px;
}

.more-info > .homespan {
  color: #c96a36;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: white;
}

.more-info > button {
  background-color: #359e88;
  padding: 10px;
  border-radius: 90px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.icons {
  margin: 60px;
}

.icon {
  margin: 10px;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 360px) {
  .more-info {
    margin: 10px;
    font-size: 40px;
  }
  .icons {
    margin: 10px;
  }
}
