.brand > .logo {
  width: 45px;
  margin-right: 3px;
}

.navlink {
  color: white;
  text-decoration: none;
}
.navlink:hover {
  color: white;
}
.navlink::after {
  content: "";
  height: 2.5px;
  width: 0%;
  display: block;
  background-color: white;
  transition: 0.5s ease-in-out;
}

.navlink:hover::after {
  content: "";
  width: 75%;
  height: 2.5px;
  background-color: white;
}

.brand > .head {
  margin-top: 12px;
  font-size: 34px;
  color: white;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  /* background-color: transparent !important; */
  backdrop-filter: blur(10px);
  color: white;
  margin: 0;
}

.templates {
  color: white;
  text-decoration: none;
}
