.brand > .logo {
  width: 45px;
  margin-right: 3px;
}

.link {
  text-decoration: none;
}
.brand > .head {
  margin-top: 12px;
  font-size: 34px;
  color: white;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  /* background-color: transparent !important; */
  /* backdrop-filter: blur(20px); */
  color: white;
  margin: 0;
  /* padding: 8px; */
}
.nav > .link:hover {
  color: white;
}

.templates {
  color: white;
  text-decoration: none;
}
.templates:hover {
  color: whitesmoke;
}
